@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: darkslategray;
  color: white;
}

.video-container{
  max-width: 1000px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: black;
}

.playlist{
  margin-left: auto;
  margin-right: auto;
  margin-inline: auto; 
}

.nowplaying{
  border: 2px solid red;
}

.playlistcard{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 6px;
  max-width: 400px;
}
